:root{
    --light-secondary:#092352;
    --light-primary:#878683;
}
#about-me{
    color: antiquewhite;
}
#intro h1{
    color: antiquewhite;
}

.nav-link{
    color: antiquewhite !important;
}
.nav-link:hover{
    color:black !important; 
}
#about-me{
    box-shadow: -63px -53px 3px -13px rgb(204, 204, 204);
    -webkit-box-shadow: -63px -53px 3px -13px rgb(204, 204, 204);
    -moz-box-shadow: -63px -53px 3px -13px rgb(204, 204, 204);
}
@media screen and (max-width: 768px) {
    #about-me{
        box-shadow: -16px -13px 7px -2px rgb(204, 204, 204);
        -webkit-box-shadow: -16px -13px 7px -2px rgb(204, 204, 204);
        -moz-box-shadow: -16px -13px 7px -2px rgb(204, 204, 204);
    }
}